<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Campgrounds</h1>
<div><a href="/campgrounds/new">Add new campground</a></div>

<% for (let campground of campgrounds){%>
<div class="card">
  <div class="row">
    <div class="col-md-4">
      <!--The md in col-md-4 represents the medium-sized screens, indicating that the column 
      should take up 4 out of the 12 available columns on medium-sized screens-->
      <% if(campground.images.length){ %>
      <img class="img-fluid" src="<%=campground.images[0].url%>" />
      <% } else{%>
      <img
        class="img-fluid"
        src="https://res.cloudinary.com/deedvudwx/image/upload/v1736004228/YelpCamp/bfefzfvcrnzfjepkkt9s.jpg"
        alt=""
      />
      <% } %>
      <!-- For the above the images are displayed if there is anything(length) in the images array, else put a default (NOTe: THIS ONLY PUTS A DEFAULT FOR THE INDEX PAGE) -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
          >View <%=campground.title %></a
        >
      </div>
    </div>
  </div>
</div>

<% }%>
<script>
  const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
</script>

<script src="/javascripts/clusterMap.js"></script>
